<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>
      <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-8xl">
        <h2 class="text-3xl text-red-500 font-bold text-center mb-6">
          Welcome to Airbnb (index)
        </h2>
        <!-- Card -->
        <div class="gap-5  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
          <% registeredHomes.forEach(home=> { %>
            <div class="bg-white border rounded-2xl shadow-md hover:shadow-xl transition duration-300">
              <!-- Image -->
              <img src="<%= home.photoUrl %>" alt="<%= home.houseName %>"
                class="w-full h-35 object-cover rounded-t-2xl " />
              <!-- Info -->
              <div class="p-5">
                <h3 class="text-xl font-semibold text-gray-800 mb-2">
                  <%= home.houseName %>
                </h3>
                <p class="text-gray-600 mb-2">🚩 <%= home.location %>
                </p>
                <p class="text-lg font-bold text-green-600 mb-4">$ <%= home.price %> /night</p>
                <!-- Button -->
                <button class="bg-green-500 text-white p-2 pl-4 pr-4 rounded-lg">
                  Book
                </button>
                <a href="/homes/<%= home.id %>" class="bg-blue-500 text-white p-2 pl-4 pr-4 rounded-lg">Details</a>
              </div>
            </div>
            <% }) %>
        </div>
      </main>
  </body>

</html>